# Astro (frontend read)
PUBLIC_SANITY_PROJECT_ID=
PUBLIC_SANITY_DATASET=production
PUBLIC_SANITY_API_VERSION=2025-01-01

# Optional token for private datasets/previews
SANITY_READ_TOKEN=

# Sanity Studio (CLI)
SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_DATASET=production
